.container {
  padding-inline: 20px;
}

@media (width >= 640px) {
  .container {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .container {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .container {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .container {
    padding-inline: 707px;
  }
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  background: #eee;
  margin: 0;
}

.page__menu {
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
}

@media (width >= 1024px) {
  .page__menu {
    pointer-events: all;
    opacity: 1;
    margin: 0;
    transition: none;
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__main {
  flex-direction: column;
  gap: 120px;
  margin-top: 120px;
  display: flex;
}

@media (width >= 640px) {
  .page__main {
    gap: 148px;
    margin-top: 148px;
  }
}

.header {
  background-color: #2c2c2c;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: clamp(600px, 100vh, 900px);
  position: relative;
}

.header__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-content: flex-start;
  column-gap: 20px;
  padding-block: 48px 438px;
  display: grid;
}

@media (width >= 640px) {
  .header__content {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .header__content {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .header__content {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .header__content {
    padding-block: 56px 537px;
  }
}

@media (width >= 1024px) {
  .header__content {
    padding-block: 164px 205px;
  }
}

.header__title {
  letter-spacing: -2px;
  color: #fff;
  grid-column: 1 / -1;
  margin-bottom: 32px;
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 120%;
}

@media (width >= 640px) {
  .header__title {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 68px;
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-bottom: 32px;
  }
}

.header__title--br {
  display: block;
}

@media (width >= 640px) {
  .header__title--br {
    display: none;
  }
}

@media (width >= 1024px) {
  .header__title--br {
    display: block;
  }
}

.header__text {
  letter-spacing: 0;
  color: #fff;
  grid-column: 1 / -1;
  margin-bottom: 72px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.header__text--br {
  display: none;
}

@media (width >= 640px) {
  .header__text--br {
    display: block;
  }

  .header__text {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .header__text {
    margin-bottom: 83px;
  }
}

.header__button {
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  background-color: #2060f6;
  border-radius: 8px;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  transition: transform .3s, box-shadow .3s, background-color .3s;
  display: flex;
  box-shadow: 1px 1px 3px #0006;
}

.header__button:hover {
  background-color: #144ed4;
  transform: scale(1);
  box-shadow: 3px 3px 6px #0009;
}

@media (width >= 640px) {
  .header__button {
    grid-column: span 3;
  }
}

.header__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (width >= 1024px) {
  .header__footer {
    top: 124px;
    left: 50%;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  height: 68px;
  display: flex;
  position: relative;
}

@media (width >= 1024px) {
  .top-bar {
    height: 124px;
  }
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  width: 46px;
  height: 28px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

.top-bar__right {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  transition: transform .3s;
}

.top-bar__right:hover {
  transform: scale(1.2);
}

.top-bar__right:after {
  content: "";
  background-color: #2060f6;
  height: 2px;
  margin-top: 8px;
  display: block;
}

@media (width >= 1024px) {
  .top-bar--desktop {
    display: none;
  }
}

.icon {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

.icon--menu {
  background-image: url("menu.e420a1be.svg");
  position: absolute;
  left: 78px;
}

@media (width >= 1024px) {
  .icon--menu-close {
    display: none;
  }
}

.icon__slider {
  width: 32px;
  height: 32px;
}

.icon--left {
  background-image: url("arrow-left.8aa92658.svg");
}

.icon--right {
  background-image: url("arrow-right.785228a0.svg");
}

.menu {
  background-color: #2c2c2c;
}

.menu__content {
  margin-block: 50px 120px;
}

@media (width >= 1024px) {
  .menu__content {
    width: max-content;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav__list {
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  margin: 0;
  padding-left: 78px;
  list-style: none;
  display: flex;
}

@media (width >= 1024px) {
  .nav__list {
    flex-direction: row;
    gap: 64px;
    padding: 0;
  }
}

.nav__link {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  transition: transform .3s;
  display: inline-block;
  position: relative;
}

.nav__link:after {
  content: "";
  background-color: #2060f6;
  width: 100%;
  height: 2px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover {
  transform: scale(1.1);
}

.nav__link:hover:after {
  transform-origin: center;
  transform: scale(1);
}

.slider {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

@media (width >= 1024px) {
  .slider {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
  }
}

.slider input[type="radio"] {
  display: none;
}

.slider__content {
  width: 100%;
  transition: transform .5s;
  display: flex;
  position: relative;
}

@media (width >= 1024px) {
  .slider__content {
    height: 100%;
  }
}

.slider__content-item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

@media (width >= 1024px) {
  .slider__content-item {
    height: 100%;
  }
}

.slider__img {
  object-fit: cover;
  border-radius: 30px;
  width: auto;
  height: 390px;
  display: block;
}

@media (width >= 640px) {
  .slider__img {
    width: 100%;
  }
}

@media (width >= 1024px) {
  .slider__img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
  }
}

.slider__icon {
  gap: 16px;
  display: flex;
  position: absolute;
  bottom: 108px;
  left: 20px;
}

@media (width >= 640px) {
  .slider__icon {
    bottom: 116px;
    left: 41px;
  }
}

.slider__text {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 20px;
}

@media (width >= 640px) {
  .slider__text {
    bottom: 32px;
    left: 41px;
  }
}

.slider__title {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}

.slider__main {
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  text-align: left;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.slider__radio:first-of-type:checked ~ .slider__content {
  transform: translateX(0%);
}

.slider__radio:nth-of-type(2):checked ~ .slider__content {
  transform: translateX(-100%);
}

.slider__radio:nth-of-type(3):checked ~ .slider__content {
  transform: translateX(-200%);
}

.about {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 24px 20px;
  display: grid;
}

@media (width >= 640px) {
  .about {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .about {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .about {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .about {
    row-gap: 16px;
  }
}

.about__title {
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #253757;
  grid-column: 1 / -1;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}

.about__text {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  grid-column: 1 / -1;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 1024px) {
  .about__text {
    grid-column: 2 / -2;
  }
}

@media (width >= 1600px) {
  .about__text {
    grid-column: 3 / -3;
  }
}

@media (width >= 1024px) {
  .section__about {
    scroll-margin-top: 270px;
  }
}

.section__work {
  background-color: #fff;
  border-radius: 30px;
}

@media (width >= 1024px) {
  .section__work {
    scroll-margin-top: 128px;
  }

  .section__services, .section__testimonials {
    scroll-margin-top: 200px;
  }
}

.section__name {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #c0cdd7;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
}

.section__title {
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #253757;
  text-align: left;
  margin-block: 16px 24px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}

.section__text {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  text-align: left;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.section__values {
  background-color: #fff;
}

@media (width >= 640px) {
  .section__values {
    background-image: url("shapes.4f241fba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section__footer {
  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 120px;
  padding-block: 72px 80px;
}

@media (width >= 640px) {
  .section__footer {
    margin: 0;
    padding-top: 180px;
  }
}

.work {
  flex-direction: column;
  margin-block: 72px;
  display: flex;
}

@media (width >= 640px) {
  .work {
    margin-block: 128px;
  }
}

.work__title {
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #253757;
  margin-bottom: 56px;
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
}

@media (width >= 640px) {
  .work__title {
    margin-bottom: 64px;
    font-size: 52px;
    line-height: 150%;
  }
}

.work__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 56px;
  display: grid;
}

@media (width >= 640px) {
  .work__content {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .work__content {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .work__content {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .work__content {
    gap: 72px;
  }
}

@media (width >= 1024px) {
  .work__content {
    gap: 137px;
    display: flex;
  }
}

@media (width >= 1600px) {
  .work__content {
    gap: 177px;
  }
}

.work__block {
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
}

@media (width >= 640px) {
  .work__block {
    grid-column: 2 / -2;
  }
}

.work__block-img {
  border-radius: 15px;
  width: 166px;
  height: 166px;
  transition: transform .3s;
}

.work__block-img:hover {
  transform: scale(1.2);
}

.work__block-title {
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #253757;
  margin-top: 16px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

@media (width >= 1024px) {
  .work__block-title {
    margin-top: 24px;
  }
}

.work__block-text {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.services {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 24px;
  display: grid;
}

@media (width >= 640px) {
  .services {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .services {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .services {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .services {
    gap: 30px;
  }
}

@media (width >= 1024px) {
  .services {
    gap: 20px;
    padding-bottom: 139px;
  }
}

.services__top {
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: flex-start;
  padding-bottom: 24px;
  display: flex;
}

@media (width >= 640px) {
  .services__top {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .services__top {
    grid-column: 1 / 5;
    transform: translateY(103px);
  }
}

.services__card {
  background-color: #fff;
  border-radius: 16px;
  grid-column: 1 / -1;
  box-shadow: 0 9px 18px #25293108;
}

@media (width >= 640px) {
  .services__card:nth-child(2n) {
    grid-column: 1 / 4;
  }

  .services__card:nth-child(odd) {
    grid-column: 4 / 7;
    transform: translateY(-132px);
  }
}

@media (width >= 1024px) {
  .services__card:nth-child(2n) {
    grid-column: 7 / 10;
    transform: translateY(139px);
  }

  .services__card:nth-child(odd) {
    grid-column: 10 / 13;
    transform: translateY(0);
  }
}

.card {
  padding: 32px;
}

.card__number {
  letter-spacing: 0;
  text-align: center;
  color: #2060f6;
  background-color: #2060f61a;
  border-radius: 23px;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 100%;
  display: flex;
}

.card__text {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  text-align: left;
  margin-top: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.card__link {
  transform-origin: 0;
  align-items: center;
  gap: 6px;
  margin-top: 32px;
  text-decoration: none;
  transition: transform .3s, color .3s;
  display: flex;
}

.card__link-text {
  letter-spacing: 0;
  text-align: center;
  color: #334563;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
}

.card__link:hover {
  transform: scale(1.1);
}

.card__link:hover .card__link-text {
  color: #2060f6;
}

.card__link-icon {
  background-image: url("arrow-blue.cfaba975.svg");
  width: 40px;
  height: 40px;
}

.testimonials__top {
  margin-bottom: 24px;
}

@media (width >= 640px) {
  .testimonials__top {
    margin-bottom: 32px;
  }
}

@media (width >= 1024px) {
  .testimonials__top {
    margin-bottom: 61px;
  }
}

.testimonials__users {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

@media (width >= 640px) {
  .testimonials__users {
    gap: 30px;
  }
}

@media (width >= 1024px) {
  .testimonials__users {
    flex-direction: row;
    gap: 20px;
  }
}

@media (width >= 1600px) {
  .testimonials__users {
    gap: 30px;
  }
}

.user {
  background-color: #fff;
  border-radius: 18px;
  padding: 32px 42px;
  display: block;
  box-shadow: 0 9px 18px #25293108;
}

@media (width >= 640px) {
  .user {
    padding: 32px 98px;
  }
}

@media (width >= 1024px) {
  .user {
    padding: 32px 48px;
  }
}

@media (width >= 1600px) {
  .user {
    padding: 32px 56px;
  }
}

.user__avatar {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 109.76px;
  height: 109.76px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

@media (width >= 640px) {
  .user__avatar {
    width: 140px;
    height: 140px;
  }
}

@media (width >= 1024px) {
  .user__avatar {
    width: 109.76px;
    height: 109.76px;
  }
}

.user__avatar:before, .user__avatar:after {
  content: "";
  background-color: #2060f6;
  border-radius: 12px;
  width: 108.97px;
  height: 43.9px;
  position: absolute;
  transform: rotate(-60deg);
}

@media (width >= 640px) {
  .user__avatar:before, .user__avatar:after {
    width: 139px;
    height: 56px;
  }
}

@media (width >= 1024px) {
  .user__avatar:before, .user__avatar:after {
    width: 108.97px;
    height: 43.9px;
  }
}

@media (width >= 1600px) {
  .user__avatar:before, .user__avatar:after {
    width: 139px;
    height: 56px;
  }
}

.user__avatar:before {
  top: -3px;
  left: -39px;
}

@media (width >= 640px) {
  .user__avatar:before {
    top: -3px;
    left: -51px;
  }
}

@media (width >= 1024px) {
  .user__avatar:before {
    top: -3px;
    left: -39px;
  }
}

@media (width >= 1600px) {
  .user__avatar:before {
    top: -3px;
    left: -51px;
  }
}

.user__avatar:after {
  top: 69px;
  left: 39px;
}

@media (width >= 640px) {
  .user__avatar:after {
    top: 87px;
    left: 51px;
  }
}

@media (width >= 1024px) {
  .user__avatar:after {
    top: 69px;
    left: 39px;
  }
}

@media (width >= 1600px) {
  .user__avatar:after {
    top: 87px;
    left: 51px;
  }
}

.user__avatar-wrapper {
  justify-content: center;
  padding: 43px;
  display: flex;
}

@media (width >= 640px) {
  .user__avatar-wrapper {
    padding: 55px;
  }
}

@media (width >= 1024px) {
  .user__avatar-wrapper {
    padding: 43px;
  }
}

@media (width >= 1600px) {
  .user__avatar-wrapper {
    padding: 55px;
  }
}

.user__avatar-photo {
  z-index: 1;
  border-radius: 50%;
  width: 109.76px;
  height: 109.76px;
  transition: transform .3s;
}

.user__avatar-photo:hover {
  transform: scale(1.2);
}

@media (width >= 640px) {
  .user__avatar-photo {
    width: 140px;
    height: 140px;
  }
}

@media (width >= 1024px) {
  .user__avatar-photo {
    width: 109.76px;
    height: 109.76px;
  }
}

@media (width >= 1600px) {
  .user__avatar-photo {
    width: 140px;
    height: 140px;
  }
}

.user__content {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-block: 24px 16px;
  display: flex;
}

@media (width >= 640px) {
  .user__content {
    gap: 16px;
  }
}

@media (width >= 1024px) {
  .user__content {
    gap: 8px;
  }
}

.user__content-icon {
  cursor: default;
  background-image: url("icon_user.cda64f57.svg");
}

.user__content-icon:hover {
  transform: none;
}

.user__content-text {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.user__info {
  flex-direction: column;
  gap: 4px;
  display: flex;
}

.user__info-name {
  letter-spacing: 0;
  text-align: center;
  color: #253757;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.user__info-workplace {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #c0cdd7;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}

.values {
  flex-direction: column;
  padding-block: 72px;
  display: flex;
}

@media (width >= 640px) {
  .values {
    padding-block: 200px;
  }
}

.values__title {
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #253757;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
}

@media (width >= 640px) {
  .values__title {
    font-size: 52px;
    line-height: 150%;
  }
}

.values__text {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  margin-block: 24px 56px;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .values__text {
    margin-block: 24px 64px;
  }
}

.values__br {
  display: none;
}

@media (width >= 1024px) {
  .values__br {
    display: block;
  }
}

.values__button {
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  background-color: #2060f6;
  border-radius: 8px;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  transition: transform .3s, box-shadow .3s, background-color .3s;
  display: flex;
  box-shadow: 1px 1px 3px #0006;
}

.values__button:hover {
  background-color: #144ed4;
  transform: scale(1);
  box-shadow: 3px 3px 6px #0009;
}

@media (width >= 640px) {
  .values__button {
    width: 264px;
    margin-inline: auto;
  }
}

.footer {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 80px 20px;
  display: grid;
}

@media (width >= 640px) {
  .footer {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .footer {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .footer {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .footer {
    row-gap: 120px;
  }
}

.footer__form {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .footer__form {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .footer__form {
    grid-column: 1 / 6;
  }
}

.footer__title {
  color: #fff;
  margin: 0;
}

.footer__contact {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 48px;
  display: flex;
}

@media (width >= 640px) {
  .footer__contact {
    grid-column: 1 / 5;
    gap: 56px;
  }
}

@media (width >= 1024px) {
  .footer__contact {
    grid-column: 7 / 13;
  }
}

@media (width >= 1600px) {
  .footer__contact {
    grid-column: 8 / 13;
  }
}

.footer__top-bar {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 48px;
  display: flex;
}

@media (width >= 640px) {
  .footer__top-bar {
    gap: 24px;
  }
}

@media (width >= 1024px) {
  .footer__top-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__nav-list {
  flex-direction: column;
  gap: 24px;
  padding: 0;
  display: flex;
}

@media (width >= 640px) {
  .footer__nav-list {
    flex-direction: row;
    justify-content: left;
    gap: 40px;
  }
}

@media (width >= 1024px) {
  .footer__nav-list {
    gap: 64px;
  }
}

.form__block {
  width: 100%;
}

.form__groups {
  flex-direction: column;
  gap: 40px;
  margin-block: 48px 56px;
  display: flex;
}

@media (width >= 640px) {
  .form__groups {
    gap: 48px;
    margin-block: 56px 80px;
  }
}

.form__input {
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  text-align: left;
  background-color: #2c2c2c;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 17px;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
}

.form__input-textarea {
  resize: none;
  overflow: hidden;
}

.form__input::placeholder {
  color: #fff;
  opacity: .7;
  letter-spacing: 0;
  text-align: center;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  transition: color .3s;
}

.form__line {
  background-color: #fff;
  width: 100%;
  height: 1px;
  transition: background-color .3s;
}

.form__label {
  display: block;
}

.form__label:hover .form__line {
  background-color: #144ed4;
}

.form__label:hover .form__input::placeholder, .form__label:focus-within .form__input::placeholder {
  color: #144ed4;
}

.form__label:focus-within .form__line {
  background-color: #144ed4;
}

.form__button {
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #2060f6;
  border-radius: 8px;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  transition: transform .3s, box-shadow .3s, background-color .3s;
  display: flex;
  box-shadow: 1px 1px 3px #0006;
}

.form__button:hover {
  background-color: #144ed4;
  transform: scale(1);
  box-shadow: 3px 3px 6px #0009;
}

@media (width >= 640px) {
  .form__button {
    width: 75%;
  }
}

.contact {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

@media (width >= 640px) {
  .contact {
    gap: 48px;
  }
}

.contact__block {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.contact__block-social {
  gap: 16px;
}

.contact__block-title {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  opacity: .5;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}

.contact__block-content {
  letter-spacing: 0;
  text-align: center;
  color: #6c788b;
  text-align: left;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.contact__block-link {
  color: #fff;
  transform-origin: center;
  text-decoration: none;
  transition: color .3s;
  display: inline-block;
}

.contact__block-link:hover {
  color: #144ed4;
}

.contact__block-icons {
  gap: 32px;
  display: flex;
}

.contact__block-icon {
  width: 32px;
  height: 32px;
}

.contact__block-icon--facebook {
  background-image: url("facebook.c55f50df.svg");
}

.contact__block-icon--facebook:hover {
  background-image: url("facebook.4a42a9bb.png");
}

.contact__block-icon--twitter {
  background-image: url("x.c91dfb86.svg");
}

.contact__block-icon--twitter:hover {
  background-image: url("twitter.c4057f33.png");
}

.contact__block-icon--instagram {
  background-image: url("instagram.68731148.svg");
}

.contact__block-icon--instagram:hover {
  background-image: url("instagram.1660abd2.png");
}
/*# sourceMappingURL=layout_dia.971c2ea4.css.map */
